

h1 {
   font-size: 28px;
   font-weight: bold;
   color:#0907a7;
   font-family:helvetica, Courier New,  Sans-Serif;
   margin-left: 38px;
   padding: 5px 0px 20px 0px;
 }
 h2{
   color:red;
   font-weight:bold;
 }
h3{
  color:red;
  font-weight:bold;
 }

.header{
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

li {
  color: #206ebc;
  font-style: italic;
  text-align: center;
  clear: both;
}
  }
img{
   width: 300px;
   height: 200px;
   display: block;
  }
p{
    background-color:#f0f0f0;
    border:1px solid black;
    padding:10px;
  }

a:hover {
  color: green;
  font-size: x-large;
  display: block;
}
