h1 {
  font-size: 28px;
 font-weight: bold;
     color:#0907a7;
     font-family:helvetica, Courier New,  Sans-Serif;
 }
 h2{

 }
 h3{
     color:red;
     font-weight:bold;
 }

ul {
  list-style-type: none;
}

li {
  color: #206ebc;
  font-style: italic;
  text-align: center;
}
* {
    background-color: #e2ccac;
  }
  p {
   color: #cc00bb ;
   font-family: Helvetica ;
  }
  *{
      text-align:center;
  }
  img{
      height:150px;
  }
  h3{
      color:red;
      font-weight:bold;
  }
  p{
      background-color:#f0f0f0;
      border:1px solid black;
      padding:10px;
  }
